* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    
}

.square {
    border: 1px solid black;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 550px;
    width: 550px;
    cursor: crosshair;
    background-color: white;
}

.grid-outline {
    background-color: rgb(10, 50, 197);
    padding: 75px;
    border-radius: 10px;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: bisque;
}

button {
    width: 200px;
    height: 50px;
    margin: 10px;
}